

<form id = "formred" type = "get" action = "/ftw">
Redteam Power
<input id = "inputred" type = "text" name = "red"/>
Redteam Player
<input id = "redname" type = "text" name = "redname"/>
Blueteam Power
<input id = "inputblue" type = "text" name = "blue"/>
Blueteam Player
<input id = "bluename" type = "text" name = "bluename"/>
<input id = "button" type = "submit" name = "score"/>
</form>